<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width = device-width, initial-scale = 1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
    <link rel="stylesheet" href="Styles.css">
    <title>Alumni Gallery</title>
</head>

<body>
  <header>
    <nav class="cyan darken-4">
      <div>
        <a href="Index.html">
          <h1 class="logo">
            <span>Alimuni Gallery</span>
          </h1>
        </a>
      </div>
      <div class="search">
        <Form>
          <input id="input" type="text" placeholder="Search" >
        </Form>
      </div>
      <a href="#"><button class="login">Account</button>
        <a href="#"><button class="signup">Post</button>
    </nav>    
  
  </header>
    
    <main class="container">
        <br>
        <br>
        <div class="row">
            <div class="col s12 m6">
              <div class="card light-blue lighten-5">
                <div class="card-content black-text">
                  <span class="card-title">Occupation Vacancy</span>
                <p>Business Name: Munchie Planner</p>
                <p>Location: St.augustine</p>
                <p>Seniority level: Manager</p>
                <p>Job function: Web Programmer</p> 
                <p>Employment type:full-Time</p>
                <p>Industries: General Planning</p>
                </div>
                <div class="card-action">
                  <a href="#">Apply On Company Website</a>
                  
                </div>
              </div>
            </div>
            <div class="col s12 m6">
              <div class="card light-blue lighten-5">
                <div class="card-content black-text">
                    <span class="card-title">Occupation Vacancy</span>
                    <p>Business Name: Bollo Insurance</p>
                    <p>Location: Sangre Grandie</p>
                    <p>Seniority level: Senior</p>
                    <p>Job function: Marketing</p> 
                    <p>Employment type: Part-time</p>
                    <p>Industries: Insurance</p>
                    </div>
                    <div class="card-action">
                      <a href="#">Apply On Company Website</a>
                  </div>
                </div>
              </div>
          </div>
          <div class="row">
            <div class="col s12 m6">
              <div class="card light-blue lighten-5">
                <div class="card-content black-text">
                    <span class="card-title">Occupation Vacancy</span>
                    <p>Business Name: Ben & Cole's Banking</p>
                    <p>Location: Port-of-Spain</p>
                    <p>Seniority level: Manager</p>
                    <p>Job function: Accountant</p> 
                    <p>Employment type: Full-Time</p>
                    <p>Industries: Banking</p>
                    </div>
                    <div class="card-action">
                      <a href="#">Apply On Company Website</a>
                </div>
              </div>
            </div>
            <div class="col s12 m6">
              <div class="card light-blue lighten-5">
                <div class="card-content black-text">
                    <span class="card-title">Occupation Vacancy</span>
                    <p>Business Name: Air Cut LTD.</p>
                    <p>Location: Port-of-Spain</p>
                    <p>Seniority level: Specialist</p>
                    <p>Job function: Network Administrator</p> 
                    <p>Employment type: Full-Time</p>
                    <p>Industries: Retail</p>
                    </div>
                    <div class="card-action">
                      <a href="#">Apply On Company Website</a>
                  </div>
                </div>
              </div>
          </div>
          <br>
          <div class="row">
            <div class="col s12 m6">
              <div class="card light-blue lighten-5">
                <div class="card-content black-text">
                    <span class="card-title">Occupation Vacancy</span>
                    <p>Business Name: InterComs LTD.</p>
                    <p>Location: Caroni</p>
                    <p>Seniority level: Head of SEO</p>
                    <p>Job function: Human Resources</p> 
                    <p>Employment type: Full-Time</p>
                    <p>Industries: Law Firm</p>
                    </div>
                    <div class="card-action">
                      <a href="#">Apply On Company Website</a>
                </div>
              </div>
            </div>
            <div class="col s12 m6">
              <div class="card light-blue lighten-5">
                <div class="card-content black-text">
                    <span class="card-title">Occupation Vacancy</span>
                <p>Business Name: Electric Beams</p>
                <p>Location: Port-of-Spain</p>
                <p>Seniority level: Intern</p>
                <p>Job function: Mail Person</p> 
                <p>Employment type: Full-Time</p>
                <p>Industries: Utility</p>
                </div>
                <div class="card-action">
                  <a href="#">Apply On Company Website</a>
                  </div>
                </div>
              </div>
          </div>
          <div class="row">
            <div class="col s12 m6">
              <div class="card light-blue lighten-5">
                <div class="card-content black-text">
                    <span class="card-title">Occupation Vacancy</span>
                    <p>Business Name: Sigacor</p>
                    <p>Location: Arouca</p>
                    <p>Seniority level: Intern</p>
                    <p>Job function: Accountant</p> 
                    <p>Employment type: Full-Time</p>
                    <p>Industries: Insurance</p>
                    </div>
                    <div class="card-action">
                      <a href="#">Apply On Company Website</a>
                </div>
              </div>
            </div>
            <div class="col s12 m6">
              <div class="card light-blue lighten-5">
                <div class="card-content black-text">
                    <span class="card-title">Occupation Vacancy</span>
                    <p>Business Name: Chasing Banking</p>
                    <p>Location: Port-of-Spain</p>
                    <p>Seniority level: Specialist</p>
                    <p>Job function: Network Administrator </p> 
                    <p>Employment type: Full-Time</p>
                    <p>Industries: Bank</p>
                    </div>
                    <div class="card-action">
                      <a href="#">Apply On Company Website</a>
                  </div>
                </div>
              </div>
          </div>
    </main>
        
  



<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
          
      <script>
        $(document).ready(function() {
          $('select').material_select();
        });
      </script>

</body>
</html>